<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="zanecoacctgEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=blaise;database=zanecoacctg&quot;" providerName="System.Data.EntityClient"/>
    <add name="zanecoacctgEntities1" connectionString="metadata=res://*/DataSource.chart_DataSource.csdl|res://*/DataSource.chart_DataSource.ssdl|res://*/DataSource.chart_DataSource.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=blaise;database=zanecoacctg&quot;" providerName="System.Data.EntityClient"/>
    <add name="zaneco_Accounting_System.Properties.Settings.zanecoaccountingConnectionString" connectionString="server=182.168.3.1;user id=19zan72;password=pascalzan;database=zanecoaccounting;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
    <add name="zaneco_Accounting_System.Properties.Settings.zanecoaccountingConnectionString1" connectionString="server=182.168.3.1;user id=19zan72;password=pascalzan;database=zanecoaccounting;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>
