<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.4" targetFramework="net45" />
  <package id="CrystalReports.Enterprise.Viewing.ReportSource" version="13.0.4001" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4001" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4001" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4001" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4001" targetFramework="net461" />
  <package id="DevExpress.Data" version="20.2.4" targetFramework="net46" />
  <package id="DevExpress.Data.de" version="20.2.4" targetFramework="net46" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="MSBuild.Microsoft.VisualStudio.Tools.Office.targets" version="15.0.1" targetFramework="net45" />
</packages>